.products {
    &__logo {
        height: 100px;
        padding: 0px 30px;

        img {
            width: 70px;
        }
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 30px;
    }

    &__product {
        width: 21%;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        text-align: center;
        padding: 20px;
        margin-bottom: 20px;

        h3 {
            font-size: 14px;
        }

        img {
            width: 70%;
        }

        P {
            margin-top: 20px;
        }

        button {
            border: 0;
            border-radius: 30px;
            background: #111;
            color: #fff;
            font-size: 16px;
            font-weight: bold;
            height: 47px;
            width: 130px;
            cursor: pointer;
            margin-top: 20px;
        }
    }
}