<div class="completed-purchase">
    <div class="completed-purchase__header">
        <div class="completed-purchase__title-header">Compra concluída!</div>
        <div class="completed-purchase__info-header" *ngIf="cliente">
            Você vai receber a confirmação no e-mail: {{ cliente.email }}
        </div>
    </div>
    <div class="completed-purchase__body">
        <div class="completed-purchase__card">
            <div class="completed-purchase__order-id">
                N° do pedido: 
            </div>
            <div class="completed-purchase__credencial-info" >
                <p>Status do pedido:  </p>
                <p>Data da compra: </p>
            </div>
            <div class="completed-purchase__selected-plan">
                <img [src]="produtoSelecionado.url" alt="">
                <div class="completed-purchase__info-plan" *ngIf="produtoSelecionado">
                    <div>{{ produtoSelecionado.nome }}</div>
                    <div class="completed-purchase__value">R$ {{ produtoSelecionado.valorVenda }}</div>
                </div>
            </div>
        </div>
    </div>
</div>
