.register{
    &__logo{
        padding: 20px 30px;
        img{
            width: 70px;
        }
    }

    &__container{
        display: flex;
        padding: 0 30px;
    }

    .container{
        &__form{
            width: 40%;
            h2{
                font-size: 26px;
                font-weight: 700;
                color: #111;
                margin: 0 0 35px;
            }

            label{
                font-size: 18px;
                font-weight: 500;
                color: #111;
            }
        
            input{
                border-radius: 8px;
                border: 0.5px solid #111;
                box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.06);
                display: flex;
                width: 90%;
                height: 20px;
                margin: 8px 0 15px;
                padding: 10px;
                font-size: 18px;
            }

            button{
                border: 0;
                border-radius: 30px;
                background: #111;
                color: #fff;
                font-size: 16px;
                font-weight: bold;
                height: 47px;
                width: 130px;
                cursor: pointer;
            }
        }

        &__img{
            width: 60%;
            img{
                width: 100%;
            }
        }
    }

    
}