<!-- <form (ngSubmit)="fazerPagamento()">
    <input type="text" [(ngModel)]="dadosDoFormulario.nomeTitular" placeholder="Nome">
    <input type="text" [(ngModel)]="dadosDoFormulario.numeroCartao" placeholder="Número do Cartão">
    <input type="text" [(ngModel)]="dadosDoFormulario.dataValidade" placeholder="Data de Validade">
    <input type="text" [(ngModel)]="dadosDoFormulario.cvv" placeholder="CVV">
    <input type="text" [(ngModel)]="dadosDoFormulario.valor" placeholder="Valor">  
    <button type="submit">Pagar</button>
</form> -->