<div class="payment">
  <div class="payment__logo">
    <img src="../../../assets/images/tenis.png" alt="">
  </div>

  <div class="payment__container">
    <div class="container__form">
      <h2>Pagamento</h2>
      <form (ngSubmit)="fazerPagamento()">
        <div class="form-group">
          <label for="nome">Nome</label>
          <input type="text" [(ngModel)]="dadosDoFormulario.nomeTitular" name="nomeTitular">
        </div>
        <div class="form-group">
          <label for="email">Número do cartão</label>
          <input type="text" [(ngModel)]="dadosDoFormulario.numeroCartao" name="numeroCartao">
        </div>
        <div class="form-group">
          <label for="cpf">Data de validade</label>
          <input type="text" [(ngModel)]="dadosDoFormulario.dataValidade" name="dataValidade">
        </div>
        <div class="form-group">
          <label for="telefone">CVV</label>
          <input type="text" [(ngModel)]="dadosDoFormulario.cvv" name="cvv">
        </div>
        <div class="form-group">
          <button type="submit">Concluir</button>
        </div>
      </form>
    </div>

    <div class="container__produto-selecionado">
      <div *ngIf="produtoSelecionado">
        <img [src]="produtoSelecionado.url" alt="{{ produtoSelecionado.nome }}">
        <h3>{{ produtoSelecionado.nome }}</h3>
        <h4>{{ produtoSelecionado.descricao }}</h4>
        <p>R$ {{ produtoSelecionado.valorVenda }}</p>
      </div>
    </div>
  </div>
</div>
